html,body{
    padding:0;
}

.break {
    word-break: break-all;
}

a,a:hover{
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}

.loginForm{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding : 1em;
}

.editContainer{
    float : right;
}

.editContainer > a{
    margin-left: 1em;
}

.loginContent{
    width:20em;
    margin-top:2em;
}

.loginError{
    color:red;
    margin-left:1em;
}

.loginErrorBottom{
    color:red;
    text-align: center;
    width:100%;
    margin-top:1em;
}

.full-btn{
    width:100%;
}

.fixedNav{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    z-index: 200;
}

.userText{
    margin-right:1em;
}

.createAccount{
    text-align: center;
    width:100%;
    margin-top:1em;
    font-size:20px;
    cursor:pointer;
}

.contentSpacing{
    margin-top:4em;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0.6em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
    width:100%;
    margin-top:1em;
}

.question{
    border-bottom: 1px solid #eff0f1;
    margin:0;
    padding: 0.5em 0.1em;
}

.questionBottom{
    margin-bottom:1em;
    position: relative;
}

.questionBottomTags{
    position: absolute;
    bottom: 0;
}

.questionBottomAnswered{
    position: absolute;
    bottom: 0;
}

.questionTop{
    margin-top:1em;
}

.questionTime{
    display:inline-block;
    float:right;
    font-size: 13px;
    color: #848d95;
}

.headerQuestion{
    border-bottom: 1px solid #eff0f1;
    padding: 0.5em 0.1em;
}

.headerQuestion > h3{
    display:inline-block;
}

.buttonQuestion{
    float:right;
}

.views{
    height: 40px;
    min-width: 40px;
    margin: auto 1em;
    font-size: 11px;
    color: #848d95;
    padding: 7px 6px;
    display: inline-block;
}

.views > p{
    margin-bottom:0.8em;
    text-align: center;
}

.tagItem{
    color: #39739d;
    border-radius:5px;
    padding: .4em .5em;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    display : inline-block;
    margin-right:1em;
}

.updateViews{
    text-align: center;
}

.updateViews > button{
    border-style:none;
    background-color:transparent;
    font-size:20px;
}

.txtareaAnswer{
    width:100%;
    height:10em;
    padding: 5px 10px;
    margin-bottom:1em;
}

.asktextareaInput{
    width:100%;
    height:10em;
    padding: 5px 10px;
    margin-bottom:1em;
    margin-top:-1em;
}

.askInput{
    width:100%;
    display:block;
    margin-bottom:1em;
    margin-top:-1em;
    padding: 5px 10px;
}



